@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,300;1,300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton+SC&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin:0;
    padding:0;
}

/* BODY TEXT*/
body{
    font-family: 'Poppins';
    text-align: center;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}
/* header background (i.e. size, color, position) */
header {
    width: 100%;
    height: 100px;
    background:rgb(148, 74, 159);
    position: fixed;
}
/* LOGO position on header */
.logo{
    width: 30%;
    float: left;
    text-align: left;
    line-height: 100px;
}

/* logo font, size, and color */
.logo a{
    text-decoration: none;
    font-size: 30px;
    font-family: 'Pacifico';
    color: #fff;
    letter-spacing: 5px;

}

/* navigation menu */
nav{
    float:right;
    line-height: 100px;
}

/* style each item in menu (font, size, color) */
nav a{
    text-decoration:none;
    font-family: 'Poppins';
    letter-spacing: 5px;
    font-size: 25px;
    color: #fff;
    padding: 38px 16px;
}
/* Change the color of links on hover */
nav a:hover {
    background-color: rgb(222, 222, 222);
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    
  }
/* Add picture banner */
  .banner-area{
    background-image: url(https://img.pikbest.com/wp/202343/delicate-pattern-watercolor-painting-on-canvas-abstract-art-with-soft-rose-gradient-and-light-purple-pink-hues-featuring-a-fragment-of-artwork-against-lilac-patterned-texture-backdrop_9941141.jpg!sw800);
    background-size: cover;
    background-position: center;
    top: 100px;
    height: 100vh;
    width: 100%;
    position: fixed;
  }

  /* Add font size, type, and position for banner-text */
  .banner-area h2 {
    padding-top:10%;
    font-size: 105px;
    font-family:'Anton';
    color: rgb(252, 252, 252);
  }
  /* WHITE BACKGROUND UNDER HEADER PICTURE*/
  .content-area{
    width: 100%;
    height:250px;
    position: absolute;
    background: white;
    top: 450px;
  }
  .content-area h2{
    font-size: 40px;
    font-family:'Pacifico';
    color: rgb(27, 27, 27);
    padding-top:45px;
    padding-bottom: 20px;
  }


  .picture-area {
    width: 100%;
    height:540px;
    position: absolute;
    background-image: url(https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQp9NOw0DLtUZXFYBihUFN2wVXEkZtXV1WikN2mC8Sk-9XRgC7O);
    background-size: cover;
    background-position: center;
    top: 700px;
    font-size: 23px;
    padding-top: 65px;
  }

  .picture-area p{
    font-size: 23px;
    font-family:'Anton';
    color: rgb(27, 27, 27);
    padding-top: 30px;
  }

  .picture-area p1 {
    text-align: right;
    font-family: 'Source Sans 3';
  }

  .picture-area h4 {
    font-size: 1.8em;
    font-family: 'Black Han Sans';
    color: white;
   text-align: center;
   padding-top: 12px;
   
  }
  
  .row {
    display:flex;
    justify-content: center;
  }
  .column {
    float: left;
    width: 8.33%;
    padding: 10px;
  }
 /* WHITE BACKGROUND UNDER HEADER PICTURE*/
 .background-area{
  width: 100%;
  height:500px;
  position: absolute;
  background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20200923/pngtree-beautiful-elegant-pink-red-purple-watercolor-smudge-background-image_399307.jpg);
  background-size: cover;
  background-position: center;
  top: 450px;
}

.background-area p{
  font-family: 'Roboto', sans-serif;
  color: #333333;
  line-height: 1.6;
  font-size: 25px;
  max-width: 70%;
  padding-left: 135px;
}
.background-area h1{
  font-size: 40px;
  font-family:'Pacifico';
  color: rgb(27, 27, 27);
  padding-top:25px;
}

.background-area h2{
  font-size: 40px;
  font-family:'Pacifico';
  color: rgb(27, 27, 27);
}
